.userdetailclass{

    background: #FFEFBA;  
    background: -webkit-linear-gradient(to right, rgb(253, 230, 155), rgb(230, 190, 190));  
    background: linear-gradient(to right, rgb(248, 228, 162), rgb(253, 237, 237));
    
    color: #fff;

    
}